@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

body {
  background-color: #F1FAEE; 
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Berkshire Swash", "Brush Script MT", serif;
}

h2 {
  margin: 0;
}


header {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 150px auto;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.logo, .icon {
  width: 80px;
}

.icon {
  padding-top: 10px;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
}


nav a {
  text-align: center;
  color: #457B9D;
  text-decoration: none;
  padding: 35px;
}

nav a:hover{
  background-color: #457B9D; 
  color: #FFFFFF;
}

#profile-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#profile-img {
  width: 100%;
}

#profile-box {
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-info {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #FFFFFF;
}

#profile-summary {
  width: 100%;
  padding: 30px;
}
#profile-summary h2 {
  text-align: center;
}
#profile-summary p {
  padding: 30px;
}

/* Work Experience page */

#title-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 500px;
  width: 100%;
  overflow: hidden;
}


#image-box {
  grid-column: 1/5;
  grid-row: 1/5;
  background-color: #457B9D;
}

#image-box img {
  width: 100%;
  box-sizing: border-box;
}

.title-overlay {
  grid-column: 1/5;
  grid-row: 1/5;
  width: 100%;
  height: 100%;
  background-color: #457B9D;
  opacity: 0.8;
}

.title-text {
  grid-column: 2/4;
  grid-row: 2/4;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
}

#work-details {
  width: 100%;
  text-align: center;
}

#work-details hr {
  width: 50%;
}

#work-details section{
  width: 50%;
  margin: 0px auto;
  padding: 20px 0;
}

#work-details section p{
  text-align: left;
}

#work-details section span{
  font-weight: normal;
}

/* Contact Us Page */
#contact-area {
  width: 100%;
}

#contact-details {
  width: 100%;
  background-color: #FFFFFF;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px
}

#contact-details h4 {
  text-align: right;
  align-items: center;
  vertical-align: middle;
}

#contact-details p {
  align-items: center;
  display: flex;

}

#contact-form {
  padding: 30px;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  display: none;      
}
.moveDown {
  margin-top: 3em;
}




footer {
  background-color: #FFFFFF; 
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h3 {
  color: #333333;
}
footer a {
  color: #457B9D;
  text-decoration: none;
}

footer a:hover {
  color: #E63946;
}

footer p {
  font-size: 1.2em;
} 

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}


@media screen and (max-width: 900px) {
  
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }

  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
}
   