@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

body {
  background-color: #F1FAEE; 
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Berkshire Swash", "Brush Script MT", serif;
}

h2 {
  margin: 0;
}


header {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 150px auto;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.logo, .icon {
  width: 80px;
}

.icon {
  padding-top: 10px;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
}


nav a {
  text-align: center;
  color: #457B9D;
  text-decoration: none;
  padding: 35px;
}

nav a:hover{
  background-color: #457B9D; 
  color: #FFFFFF;
}

#profile-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: #C3D6DA; */
}

#profile-img {
  width: 100%;
}

#profile-box {
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-info {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #FFFFFF;
}

#profile-summary {
  width: 100%;
  padding: 30px;
}
#profile-summary h2 {
  text-align: center;
}
#profile-summary p {
  padding: 30px;
}

/* Work Experience page */


#title-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 500px;
  width: 100%;
  overflow: hidden;
}


#image-box {
  grid-column: 1/5;
  grid-row: 1/5;
  background-color: #457B9D;
}

#image-box img {
  width: 100%;
  box-sizing: border-box;
}

.title-overlay {
  grid-column: 1/5;
  grid-row: 1/5;
  width: 100%;
  height: 100%;
  background-color: #457B9D;
}

.title-text {
  grid-column: 2/4;
  grid-row: 2/4;
  /* width: 100%;
  height: 100%; */
}

#hero-msg{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
  color: #F1FAEE;
}


h4 {
  color: #333333;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}


.msg {
  grid-column: 6/10;
  grid-row: 6/7;
  background-color: #FFFFFF;
  line-height: 1.5em;
  padding: 35px;
  box-shadow: 5px 5px 10px #333333;
}

.msg h2 {
  color: #333333;
  font-family: "Berkshire Swash", "Brush Script MT", serif;
}
.msg p {
  color: #333333;
  font-size: .8em;
  padding-bottom: 15px;
}


footer {
  background-color: #FFFFFF; 
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h3 {
  color: #333333;
}
footer a {
  color: #457B9D;
  text-decoration: none;
}

footer a:hover {
  color: #E63946;
}

footer p {
  font-size: 1.2em;
} 

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}


@media screen and (max-width: 900px) {
  
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }

  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
}
   